.card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid;
  border-color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, .5);
}

.card img {
  width: 150px;
  height: 150px;
  
}

.card h2,
.card p {
  padding: 0px;
}